
@{
    ViewBag.Title = "Map";
}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMZECckInaZ44EAKBo6J6Fi1x4NWxjIPk&callback=initMap"
                async defer></script>

        
        <style>

            * {
                box-sizing: border-box;
            }

            body {
                margin: 0;
            }

            #map {
                width: 100%;
                height: 600px;
            }

            #mappanel {
                height: 50%;
                width: 50%;
                float: left;
            }

            #uploadfilepanel {
                height: 50%;
                width: 50%;
            }

            .wrapper {
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                grid-gap: 10px;
                grid-auto-rows: minmax(100px, auto);
            }

            .map1 {
                grid-column: 1/3;
                grid-row: 1 / 5;
                background-color: aqua;
            }

            .chbox {
                grid-column: 3;
                grid-row: 1;
                background-color: azure;
            }

            .fileup {
                grid-column: 3;
                grid-row: 2;
                background-color: beige;
            }

            .search {
                grid-column: 3;
                grid-row: 3;
                background-color: aliceblue;
            }

            .searched {
                text-align: center;
            }

            .result {
                grid-column: 3;
                grid-row: 4;
                background-color: chocolate;
            }

            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
<body>

    <h4 style="text-align:center;" > โครงการ EIA Regulatory Smart Screening System </h4>
    
    <div class="wrapper">
        
        <div class="map1">

            <div id="map"></div>
        </div>

        <div class="search">
            <h4>Search</h4>
            <div class="searched">

                <select id="Select1" style="width:40%">
                    <option>ระบุที่ตั้ง</option>
                    <option>กรุงเทพมหานคร</option>
                </select>
                <select id="Select1" style="width:40%">
                    <option>ระบุที่ตั้ง</option>
                    <option>กรุงเทพมหานคร</option>
                </select>
                <br />
                <select id="Select2" style="width:40%">
                    <option>โครงการ</option>
                    <option>กรุงเทพมหานคร</option>
                </select>
                <select id="Select1" style="width:40%">
                    <option>ระบุโครงการ</option>
                    <option>กรุงเทพมหานคร</option>
                </select>
                <br />
                <select id="Select3" style="width:40%">
                    <option>เชื้อเพลิง</option>
                    <option>กรุงเทพมหานคร</option>
                </select>
                <select id="Select1" style="width:40%">
                    <option>ระบุเชื้อเพลิง</option>
                    <option>กรุงเทพมหานคร</option>
                </select>
                <br />
                <select id="Select4" style="width:40%">
                    <option>ขนาด</option>
                    <option>กรุงเทพมหานคร</option>
                </select>
                <select id="Select1" style="width:40%">
                    <option>ระบุขนาด</option>
                    <option>กรุงเทพมหานคร</option>
                </select>
                <br />
                <select id="Select5" style="width:40%">
                    <option>ความดัน</option>
                    <option>กรุงเทพมหานคร</option>
                </select>
                <select id="Select1" style="width:40%">
                    <option>ระบุความดัน</option>
                    <option>กรุงเทพมหานคร</option>
                </select>
                <br />

            </div>
            
        </div>

        <div class="chbox">
            <ul>

                <li>
                    <input onClick="enable_layer(this)" type="checkbox" value="11"> ทางรถไฟ
                </li>
                <li>
                    <input onClick="enable_layer(this)" type="checkbox" value="22"> โรงเรียน
                </li>
                <li>
                    <input onClick="enable_layer(this)" type="checkbox" value="33"> หมู่บ้าน
                </li>

            </ul>
            <div id="divResults"></div>
        </div>

        <div class="fileup">
            @using (Html.BeginForm("Map", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input id="file" type="file" name="file" />
                <input type="submit" value="OK" class="addrow"  />
            }
        </div>

        <div class="result" >
            <h4 style="color:white; margin-left:7px; " >แสดงผลข้อมูล</h4>
            
                <table align="center"style="background-color:white;">
                    <tr>
                        <th>
                            ประเภทรายงาน
                        </th>
                        <th>
                            EIA
                        </th>

                    </tr>
                    <tr>
                        <th>
                            กฏหมายที่เกี่ยวข้อง
                        </th>
                        <th>
                            ที่มาและ Link ข้อมูล
                        </th>

                    </tr>
                    <tr>
                        <th>
                            หน่วยงาน
                        </th>
                        <th>
                            หน่วยงาน
                        </th>

                    </tr>
                </table>
        </div>
          
    </div>
    
</body>
<script>
    var map;
    var mapcode;
    var latlng = { lat: 13.7651624, lng: 100.893642 }
    function initMap() {

        map = new google.maps.Map(
            document.getElementById('map'), {
            center: latlng,
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

         

       
    }

    var kml = {
        11: {
            name: "AL_STA_ROW_CY_Sensitives.kmz",
            url: " https://github.com/Naphatsanan1280/Kmlfile/blob/master/AL_STA_ROW_CY_Sensitives.kmz?raw=true"
        },
        22: {
            name: "SCHOOL.kml",
            url: " https://github.com/Naphatsanan1280/Kmlfile/blob/master/school.kmz?raw=true"
        },
        33: {
            name: "village.kmz",
            url: " https://github.com/Naphatsanan1280/Kmlfile/blob/master/village.kmz?raw=true"
        }
    };

    var src = 'https://github.com/Naphatsanan1996/Test_KML/blob/master/AL_STA_ROW_CY_Sensitives.kmz?raw=true';

    function enable_layer(e) {
        var id = $(e).val();
        if ($(e).is(":checked")) {
            var kmlLayer = new google.maps.KmlLayer(kml[id].url, {
                suppressInfoWindows: true,
                preserveViewport: true
            });
            kml[id].obj = kmlLayer;
            kml[id].obj.setMap(map);
        } else {
            console.log('close');
            kml[id].obj.setMap(null);
            delete kml[id].obj;
        }
    }
    
        $(document).ready(function () { 
             $(".addrow").click(function () {
                    var name = $("#file").val();
        
                    var markup = "<ul><li><input type='checkbox' name='record'>" + name + "</li></ul>"

                    $("#divResults").append(markup);
             });
        });




    
    </script>

